block current_nav
  - current_page = '404'

extends /views/layouts/layout

block content

  section.row.bc-regent
    .cell.well.well--xl.tac.tci

      h1.h.h--l Oh, hey there.

      p.tsxl.mbl Looks like the page you're looking for isn't here. Why not enjoy the view?

      a.btn.btn--a--bordered.btn--l(href='/') Go Back Home
