ul.list.list--divided
  li.list-item
    -
      item = {
        title: 'JavaScript Road Trip',
        description: 'An introduction to the very basics of the JavaScript language. Build a foundation of JavaScript syntax and learn how to use values, variables, and&nbsp;files.',
        media: '/images/resources/img-jsrt.jpg',
        url: 'https://www.codeschool.com/courses/javascript-road-trip-part-1'
      }
    include _course

  li.list-item
    -
      item = {
        title: 'JavaScript Best Practices',
        description: 'Become a more informed, conscientious user of JavaScript as you explore time-tested, useful techniques that will improve legibility, performance quality, and safety in your&nbsp;scripts.',
        media: '/images/resources/img-best-practices.jpg',
        url: 'https://www.codeschool.com/courses/javascript-best-practices'
      }
    include _course

  li.list-item
    -
      item = {
        title: 'ES2015: The Shape of JavaScript to Come',
        description: 'Stay in tune and learn some of the new features of ES2015, the most extensive update to the JavaScript language since it was first released in the&nbsp;‘90s.',
        media: '/images/resources/img-es2015.jpg',
        url: 'https://www.codeschool.com/courses/es2015-the-shape-of-javascript-to-come'
      }
    include _course

  li.list-item
    -
      item = {
        title: 'Try jQuery',
        description: 'Learn the basics of jQuery 2.0, a JavaScript library, to modify elements on the page and improve user interaction.',
        media: '/images/resources/img-try-jquery.jpg',
        url: 'https://www.codeschool.com/courses/try-jquery'
      }
    include _course
