ul.g.collection.collection--g.lr
  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'Pluralsight’s Quick Start to JavaScript', url: 'http://www.pluralsight.com/courses/quick-start-javascript-1-1870', media: '/images/resources/img-pluralsight.png' }
    - item.description = 'Learn the basics and create your own zombie text adventure game.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'MDN JavaScript Guide', url: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide', media: '/images/resources/img-mdn.jpg' }
    - item.description = 'A large series of written guides curated by Mozilla contributors.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'Codecademy', url: 'https://www.codecademy.com/learn/javascript', media: '/images/resources/img-codecademy.jpg' }
    - item.description = 'Interactive courses on JavaScript fundamentals.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'Eloquent JavaScript', url: 'http://eloquentjavascript.net/', media: '/images/resources/img-eloquent-js.jpg' }
    - item.description = 'An online book about JavaScript, programming, and the wonders of the digital.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'JavaScript for Cats', url: 'http://jsforcats.com/', media: '/images/resources/img-js-for-cats.jpg' }
    - item.description = 'If you’re a cat who wants to learn JavaScript, there isn’t a better online book.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'You Don’t Know JavaScript', url: 'https://github.com/getify/You-Dont-Know-JS', media: '/images/resources/img-you-dont-know-js.jpg' }
    - item.description = 'A series of books by Kyle Simpson that dives deep into JavaScript.'
    include /views/resources/_resource

  li.g-b.g-b--s--6of12.g-b--m--4of12.g-b--l--3of12.collection-item
    - item = { title: 'JSbooks', url: 'http://jsbooks.revolunet.com/', media: '/images/resources/img-js-books.png' }
    - item.description = 'An extensive collection of free JavaScript books.'
    include /views/resources/_resource
