block current_nav
  - current_page = 'Resources'

block layout_variables
  - pageTitle = 'Free Resources'
  - metaDescription = 'A collection of free resources from the JavaScript community to for beginners to advanced JS developers.'

extends /views/layouts/layout

block content

  section.row
    .cell.well.well--l.well--m--xl

      h1.srt JavaScript Resources

      .bdrbl.pbxs.mbm
        h2.h.h--2.mbf Code School Courses

      .mbxl
        include _courses

      .bdrbl.pbxs.mbm
        h2.h.h--2.mbf Free Resources

      include _resources
