block layout_variables
  - dispatcher = 'course'
  - pageTitle = 'JavaScript Tutorial'
  - metaDescription = 'Start learning JavaScript right in your browser and then check out courses to continue learning.'

extends /views/layouts/layout-course

block content
  div(ng-app='javascriptcom')
    js-course(course='intro')
