.bucket.mbm
  .bucket-media
    img(src='/images/img-news.svg' width=190)
  .bucket-content
    h.h.h--4.tci The Latest News to Your Inbox
    p.mbf.tss Subscribe now to the weekly 5 Minutes of JavaScript newsletter.

.newsletter.js-newsletter
  form.form.newsletter-form.mtm.js-newsletter-form
    .flexSplit.flexSplit--start
      .flexSplit-item.fx-g1.mrm

        input.form-input(type='email' name='email' placeholder='Email Address' required)
        p.mbf.mts.tce.tsxs.is-hidden.js-newsletter-error

      .flexSplit-item.flexSplit-item--fixed

        button.btn Subscribe
