footer.site-item.tcs(role='contentinfo')
  .row.bc-slate
    .cell.well.well--l
      .g.fx-jcsb
        .g-b.g-b--m--5of12.mbl.mbf--m.mtm--m

          ul.list.list--inline.bdrb.bdrcs.mbm.pbm
            li.list-item
              a.link.link--subdued.tss(href='/') Home
            li.list-item
              a.link.link--subdued.tss(href='/news') News
            li.list-item
              a.link.link--subdued.tss(href='/try') Try JavaScript
            li.list-item
              a.link.link--subdued.tss(href='/about') About
            li.list-item
              a.link.link--subdued.tss(href='/guidelines') Community Guidelines

          ul.list.list--inline
            li.list-item
              a.link.link--subdued(href='https://twitter.com/javascriptcom')
                - iconPartial = { name: 'twitter', size: 24, className: 'mrxs vam' }
                include /views/partials/_icon
                span.tss.vam Twitter
            li.list-item
              a.link.link--subdued(href='/feed/rss')
                - iconPartial = { name: 'rss', size: 16, className: 'mrxs ' }
                include /views/partials/_icon
                span.tss.vam RSS

        .g-b.g-b--m--6of12

          include /views/partials/_footer_newsletter

  .row.bc-outerSpace
    .cell.well.well--l
      .g.fx-aic.fx-jcsb
        .g-b.g-b--m--6of12.mbm.mbf--m

          p.mbf.tss © 2016 JavaScript.com; Made with ♥ by Code School.

        .g-b.g-b--m--3of12

          img(src='/images/logo-code-school-subdued.svg')
