- headerPartial = headerPartial || {}
- headerPartial.bleed = headerPartial.bleed || false
-menu = { 'News' : '/news', 'Learn': '/learn', 'Resources' : '/resources' }

block current_nav

header.row.header.site-item(class=(headerPartial.bleed ? 'bc-regent' : '' ) role='banner')
  .cell.well.well--s.well--m--m
    .flexSplit

      .flexSplit-item
        a.db(href='/')
          img.dn--m(src='/images/logo-mark.svg' alt='JavaScript.com' width=54)
          img.dn.db--m(src='/images/logo.svg' alt='JavaScript.com' width=240)

      nav.flexSplit-item(role='navigation')
        a.header-link.underline.dn--m.mrm(href='/try' class=(headerPartial.bleed ? 'underline--alt' : '' )) Try JavaScript
        a.btn.dn.dib--m.mrl(href='/try' class=(headerPartial.bleed ? 'underline--alt' : '' )) Try JavaScript

        each url, title in menu
          if current_page == title
            a.header-link.underline.is-active(href=url class=(headerPartial.bleed ? 'underline--alt' : '' ))= title
          else
            a.header-link.underline(href=url class=(headerPartial.bleed ? 'underline--alt' : '' ))= title
