block current_nav
  - current_page = 'Community'

extends /views/layouts/layout

block content

  //
    h1.h.h--1 Latest News
    p= `Today ${new Date()}`

    p
      a(href="flow/new") New Story

    - for flow_item in flow_collection
      section.article
        h3.h.h--3
          a(href="/flow/"+flow_item.id)= flow_item.title
        = flow_item.body
        p(class="read-more")
          a(href=flow_item.url) Read More
        p(class="github-user")
          | From #[a(href="#") GitHub User]

  section.row
    .cell.cell--s.well.well--l.well--m--xl

      .bdrb.pbm.mbl
        .split.split--middle

          .split-item
            .split-cell
              h1.h.h--2.mbf Top News

            .split-cell
              a.btn.btn--a.btn--a--bordered(href='/flow/new') New Post

      ul.list.list--l.list--divided.list--divided--l

        - index = 6; while(index--)
          li.list-item
            article.bucket
              .bucket-media
                img.thumb(src='http://placehold.it/40')
              .bucket-content
                h2.h.h--3
                  a.tct.twb(href='#') This is an Article's Title in Title Case
                p.tcs.tfh Given Surname | 3 hours ago
                p.mbf.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit
                  amet felis. Etiam congue. Donec risus risus, pretium...
