extends /layout

block content
  h1 New Story
  p
    img(src=avatar width=100)
    br
    a(href="/flow/signout") Sign Out

  form(action="/flow" method="POST")
    p
      | Title: &nbsp;
      input(type="text" name="title")
    p
      textarea(name="body" rows=10 cols=80)
    p
      | Link: &nbsp;
      input(type="text" name="url")
    p
      input(type="hidden" name="_csrf" value=token)
      input(type="submit" value="Submit")
