block current_nav
  - current_page = 'Community'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--xl

      .tac
        h1.h.h--1 Authenticate
        p To create a post, sign in with GitHub by clicking the button below.

        a.btn.btn--a(href='/flow/auth/github') Sign In with GitHub
