.row.footer
  .cell.well.well--l

    .g
      .g-b.g-b--l--1of4
        a(href='/')
          img.footer-logo.footer-logo--js(src='/images/logo-monochrome.svg' alt='JavaScript.com')
      .g-b.g-b--l--2of4
        p.footer-copyright &copy; 2015 JavaScript.com; Crafted lovingly in Orlando, Florida.
      .g-b.g-b--l--1of4
        a(href='http://www.codeschool.com')
          img.footer-logo.footer-logo--cs(src='/images/logo-cs.svg' alt='Code School')
