.row.footer
  .cell.well.well--l

    .g
      .g-b.g-b--l--1of4
        .footer-logo.footer-logo--js
          a.db.mbs(href='/')
            img(src='/images/logo-monochrome.svg' alt='JavaScript.com')
          a.db.tsxs(href='/brand') Download Brand Assets
      .g-b.g-b--l--2of4
        p.footer-copyright &copy; 2015 JavaScript.com; Crafted lovingly in Orlando, Florida.
      .g-b.g-b--l--1of4
        .footer-logo.footer-logo--cs
          p.footer-descriptor Maintained by
          a(href='http://www.codeschool.com')
            img(src='/images/logo-cs.svg' alt='Code School')
