footer.row.footer(role='contentinfo')
  .cell.well.well--l.tac

    .footer-logo
      a.db.mbs(href='/')
        img(src='/images/logo-monochrome.svg' alt='JavaScript.com')

    ul.list.list--inline.list--inline--dotted.tsxs
      li.list-item.tci
        a.link.link--inverted(href='/brand') Brand Assets
      li.list-item.tci
        a.link.link--inverted(href='/brand') Give Feedback
      li.list-item.tci
        a.link.link--inverted(href='/brand') Community Guidelines

    p.footer-copyright &copy; 2015 JavaScript.com; Crafted lovingly in Orlando, Florida.

    ul.list.list--inline
      li.list-item
        a.link.link--inverted(href='#')
          - iconPartial = { name: 'twitter', size: 24 }
          include /views/partials/_icon
      li.list-item
        a.link.link--inverted(href='#')
          - iconPartial = { name: 'rss', size: 16 }
          include /views/partials/_icon
