- headerPartial = headerPartial || {}
- headerPartial.bleed = headerPartial.bleed || false

header.row.header.layout-header(class=(headerPartial.bleed ? 'bc-regent' : '' ))
  .cell.well.well--s.well--m--m

    .split.split--middle
      .split-item
        .split-cell
          a.dib(href='/')
            img.dn--m(src='/images/logo-mark.svg' alt='JavaScript.com')
            img.dn.db--m(src='/images/logo.svg' alt='JavaScript.com')
        nav.split-cell
          a.header-link.mrm.mrl--m(href='/news') News
          a.header-link.mrm.mrl--m(href='/flow') Community
          a.header-link(href='/resources') Resources
