header.row.header(class=(headerPartial.bleed ? 'bc-regent' : '' ))
  .cell.well
    .g
      .g-b.g-b--m--1of2

        .header-logo
          a.header-logo-item(href='/')
            img.header-logo-item(src='/images/logo.svg' alt='JavaScript.com')

      .g-b.g-b--m--1of2

        nav.header-nav
          a.header-nav-item(href='/news') News
          a.header-nav-item(href='/flow') Community
