header.row.header(class=(headerPartial.bleed ? 'bc-regent' : '' ))
  div.cell.well(class=(headerPartial.bleed ? 'bdrb mbf pbm' : '' ))
    div.g
      div.g-b.g-b--m--1of2

        h1.header-logo.mbf
          a.header-logo-item(href="/")
            img.header-logo-item(src="/images/logo.svg" alt="JavaScript.com")

      div.g-b.g-b--m--1of2

        nav.header-nav
          a.header-nav-item(href="/news") News
          a.header-nav-item(href="/flow") Community
          a.btn.btn--a.header-nav-item.header-nav-item--btn(href="#") Learn JavaScript
