- headerPartial = headerPartial || {}
- headerPartial.bleed = headerPartial.bleed || false
- menu = { 'News' : '/news', 'Community' : '/flow', 'Resources' : '/resources' }

block current_nav

header.row.header.layout-header(class=(headerPartial.bleed ? 'bc-regent' : '' ))
  .cell.well.well--s.well--m--m

    .split.split--middle
      .split-item
        .split-cell
          a.dib(href='/')
            img.dn--m(src='/images/logo-mark.svg' alt='JavaScript.com')
            img.dn.db--m(src='/images/logo.svg' alt='JavaScript.com')
        nav.split-cell
          each url, title in menu
            if current_page == title
              a.header-link.highlight.highlight--bordered.is-active(href=url class=(headerPartial.bleed ? 'highlight--bordered--alt' : '' ))= title
            else
              a.highlight.highlight--bordered.header-link(href=url class=(headerPartial.bleed ? 'highlight--bordered--alt' : '' ))= title
