.card.inlineConsole-card.pal--m
  h3.h.h--2.h--light Ready to try JavaScript?

  p.tfh.tss.
    Begin learning here by typing in your first name surrounded by
    quotation marks, and ending with a semicolon. For example, I'd
    type my name "Gregg"; and then hit enter.

  form.inlineConsole.js-console(action='')
    span.inlineConsole-icon.inlineConsole-icon--caret
    span.inlineConsole-icon.inlineConsole-icon--check
    input.form-input.inlineConsole-input.js-console-input(type='text')
    a.btn.inlineConsole-btn(href='/try') Next Challenge
