.hero-img.
  <svg xmlns="http://www.w3.org/2000/svg" width="720" height="379.6" viewBox="100 -89.6 720 379.6" enable-background="new 100 -89.6 720 379.6"><path fill="#7FAB67" d="M649.8 93.7c72.3 0 130.9 87.9 130.9 196.4h-261.8c0-108.5 58.6-196.4 130.9-196.4z"/>
    <path fill="#309BB2" d="M623.6 172.2h52.4v104.7h-52.4z"/>
    <path fill="#E45D53" d="M505.8 172.2c43.4 0 78.5 52.7 78.5 117.8h-157c0-65 35.1-117.8 78.5-117.8z"/>
    <path fill="#9CD4DE" d="M100 290c24.5 0 286.3-19.6 310.9-19.6 24.5 0 24.5-13.1 49.1-13.1 24.5 0 24.5 13.1 49.1 13.1 24.5 0 24.5-13.1 49.1-13.1 24.5 0 24.5 13.1 49.1 13.1 24.5 0 24.5-13.1 49.1-13.1 24.5 0 24.5 13.1 49.1 13.1 24.5 0 89.9 19.6 114.5 19.6h-720z"/>
    <path fill="#F8F4E4" d="M497.6 103.5h9.8v153.8h-9.8z"/>
    <g class="hero-img-fan">
      <path fill="#E45D53" d="M502.5 103.5c16.6 4.7 32.2 13.6 45.2 26.7 5.1 5.1 5.1 13.4 0 18.6-5.1 5.1-13.4 5.1-18.6 0-12.9-13.1-21.8-28.7-26.6-45.3zM457.3 58.2c5.1-5.1 13.4-5.1 18.6 0 13 13 21.9 28.7 26.7 45.2-16.6-4.7-32.2-13.6-45.2-26.7-5.2-5-5.2-13.3-.1-18.5z"/>
      <path fill="#F8F4E4" d="M502.5 103.5c4.7-16.6 13.6-32.2 26.7-45.2 5.1-5.1 13.4-5.1 18.6 0 5.1 5.1 5.1 13.4 0 18.6-13.1 13-28.7 21.8-45.3 26.6zM457.3 148.7c-5.1-5.1-5.1-13.4 0-18.6 13-13 28.7-21.9 45.2-26.7-4.7 16.6-13.6 32.2-26.7 45.2-5.1 5.3-13.4 5.3-18.5.1z"/>
    </g>
    <circle fill="#F8F4E4" cx="502.5" cy="103.5" r="13.1"/>
    <circle fill="#E45D53" cx="502.5" cy="103.5" r="3.3"/>
    <path fill="#7FAB67" d="M571.3 290h-272c27.2-46.9 77.9-78.5 136-78.5s108.8 31.6 136 78.5z"/>
    <path fill="#F1D511" d="M257.1 172.2h65.5v104.7h-65.5zM152.4-24.1h130.9v314.2h-130.9z"/>
    <path fill="#F8F4E4" d="M754.5 224.6c36.1 0 65.5 29.3 65.5 65.5h-130.9c0-36.2 29.3-65.5 65.4-65.5z"/>
    <path fill="#309BB2" d="M100-63.4v353.4h78.5l-26.1-65.4v-248.7z"/>
    <path fill="#7FAB67" d="M296.4 106.8h130.9v65.5h-130.9z"/>
    <path fill="#309BB2" d="M361.8 106.8h39.3v65.5h-39.3zM296.4 106.8h26.2v65.5h-26.2z"/>
    <g fill="#F8F4E4">
      <circle cx="322.5" cy="106.8" r="26.2"/>
      <circle cx="401.1" cy="106.8" r="26.2"/>
      <path d="M342.1 89.6c4.8 5.5 11.8 9 19.7 9s14.9-3.5 19.7-9h14.4v33.8h-14.8c-4.8-5.2-11.6-8.5-19.3-8.5-7.6 0-14.5 3.3-19.3 8.5h-14.3v-33.9l13.9.1z"/>
    </g>
    <circle fill="#E45D53" cx="322.5" cy="106.8" r="13.1"/>
    <circle fill="#E45D53" cx="401.1" cy="106.8" r="13.1"/>
    <path fill="#309BB2" d="M165.5 93.7h78.5l52.4 65.4h-104.8l-26.1-32.7z"/>
    <path fill="#37433E" d="M165.5 290c-36.2 0-65.5-29.3-65.5-65.4s29.3-65.5 65.5-65.5h65.5v130.9h-65.5zM335.6 290c-36.1 0-65.5-29.3-65.5-65.5 0-36.1 29.3-65.4 65.5-65.4h65.5v130.8h-65.5v.1z"/>
    <path fill="#309BB2" d="M361.8 153.9h39.3v10.7h-39.3z"/>
    <path fill="#7FAB67" d="M322.5 153.7h39.3v10.7h-39.3z"/>
    <path fill="#309BB2" d="M401.1 276.9c28.9 0 52.4-23.4 52.4-52.4 0-28.9-23.4-52.3-52.4-52.3v-13.1c36.1 0 65.5 29.2 65.5 65.4 0 36.1-29.3 65.5-65.5 65.5v-13.1zM230.9 159.1v13.1c-28.9 0-52.4 23.4-52.4 52.4 0 28.9 23.4 52.4 52.4 52.4v13.1c-36.1 0-65.5-29.3-65.5-65.5.1-36.2 29.4-65.5 65.5-65.5zM230.9 159.1h170.2v13.1h-170.2zM230.9 276.9h170.2v13.1h-170.2z"/>
    <circle fill="#F8F4E4" cx="401.1" cy="224.6" r="52.4"/>
    <circle fill="#7FAB67" cx="401.1" cy="224.6" r="26.2"/>
    <circle fill="#37433E" cx="401.1" cy="224.6" r="6.5"/>
    <circle fill="#F8F4E4" cx="230.9" cy="224.6" r="52.4"/>
    <circle fill="#7FAB67" cx="230.9" cy="224.6" r="26.2"/>
    <circle fill="#37433E" cx="230.9" cy="224.6" r="6.5"/>
    <path fill="#E45D53" d="M217.8 159.1h104.7l-52.3-65.4h-104.7z"/>
    <path fill="#37433E" d="M217.8-11.1c28.9 0 52.4 23.4 52.4 52.4v52.4h-104.7v-52.4c0-28.9 23.4-52.4 52.3-52.4z"/>
    <path fill="#F8F4E4" d="M152.4-24.1l-52.4-39.3h130.9l52.4 39.3z"/>
    <path fill="#E45D53" d="M185.1-89.6c10.8 0 19.6 8.8 19.6 19.6v19.6h-39.2v-19.6c0-10.8 8.7-19.6 19.6-19.6z"/>
    <circle fill="#37433E" cx="649.8" cy="146" r="26.2"/>
    <path fill="#37433E" d="M623.6 146h52.4v26.2h-52.4z"/>
    <path fill="#9CD4DE" d="M656.4 172.2h6.5v104.7h-6.5zM669.5 172.2h6.5v104.7h-6.5zM643.3 172.2h6.5v104.7h-6.5zM630.2 172.2h6.5v104.7h-6.5z"/>
  </svg>
