// *************************************
//
//   Code Block
//   -> Syntax container
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .codeBlock
//   .codeBlock-label
//   .codeBlock-pre
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$codeBlock-fontSize: 15px;
$codeBlock-horizontalPadding: 20px;
$codeBlock-verticalPadding: 15px;

$codeBlock-label-fontSize: 12px;
$codeBlock-label-letterSpacing: 0.075em;

// -------------------------------------
//   Base
// -------------------------------------

.codeBlock {
  border: 1px solid $c-border;

  .CodeMirror {
    border: 0;
    font-family: $b-fontFamily-mono;
    font-size: $codeBlock-fontSize;
    padding: $codeBlock-verticalPadding $codeBlock-horizontalPadding;

    & + .CodeMirror {
      border-top: 1px solid $c-border;

      &::before {
        color: $c-subdue;
        content: 'Output';
        display: block;
        font-family: $b-fontFamily;
        font-size: $codeBlock-label-fontSize;
        letter-spacing: $codeBlock-label-letterSpacing;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }

  .CodeMirror-lines {
    padding: 0;
  }

  .CodeMirror pre {
    padding: 0;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Label ----- //

.codeBlock-label {
  background: $c-border;
  color: $c-subdue;
  cursor: default;
  font-size: $codeBlock-label-fontSize;
  letter-spacing: $codeBlock-label-letterSpacing;
  line-height: 1;
  margin: 0;
  padding: 5px $codeBlock-horizontalPadding;
  text-transform: uppercase;
  user-select: none;
}

// ----- Pre ----- //

.codeBlock-pre {
  border: 0;
  font-family: $b-fontFamily-mono;
  font-size: $codeBlock-fontSize;
  padding: $codeBlock-verticalPadding $codeBlock-horizontalPadding;
}
