// *************************************
//
//   Console
//   -> Terminal window
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .console[single]
//
//   .console-ui
//
//     .console-hint
//
//     .console-msg[error|help|success]
//       %p.console-msg-title
//
// *************************************

.console
  background: $console-background
  box-sizing: border-box
  min-height: 100%
  overflow: auto
  padding: $b-space
  width: 100%

  ul
    @extend .lr

  li
    color: $console-color

  .CodeMirror,
  .cm-s-vibrant-ink.CodeMirror,
    background: $console-background
    color: $console-color

    div.CodeMirror-cursor
      border-color: $console-color
      border-size: $console-cursor-size

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Single ----- //

.console--single
  border-radius: $b-borderRadius
  overflow: auto

  .cs-console-height
    max-height: $console-maxHeight
    min-height: $console-minHeight

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Hint ----- //

.console-hint
  margin-top: $b-space-s

// ----- Message ----- //

.console-msg
  color: $c-subdue
  margin-top: $b-space-s

// Error

.console-msg--error
  color: $c-error

// Help

.console-msg--help
  color: $c-warning

// Success

.console-msg--success
  color: $c-success

// Title

.console-msg-title
  color: $console-color
  margin-top: $b-space-s
