// *************************************
//
//   Course
//   -> Challenge interface
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .course[mini]
//   .course-scaffolding
//
// *************************************

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Mini ----- //

.course--mini
  padding: 0

  // Container

  .course-container
    margin: 0
    max-width: none

  // Challenge

  .course-challenge

    &.is-started
      display: none !important

    &.is-active
      display: block !important

  .course-challenge-label
    display: none

  .course-challenge-instructions
    font-size: inherit

  .course-challenge-title
    display: none

  // Table of Contents

  .course-toc
    display: none

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Challenge ----- //

.course-challenge
  opacity: 0.4

  &.is-active
    opacity: 1

// Instructions

.course-challenge-instructions
  font-family: $b-fontFamily-heading
  font-size: $b-fontSize-xl

// ----- Table of Contents ----- //

.course-toc

  +respond-to($g-m)
    position: fixed
    top: $site-header-height
    width: calc(#{100vw / 4} - #{$b-space * 2}) // 1of4 column at medium breakpoint
    z-index: 1000

  +respond-to($g-l)
    width: calc(#{100vw / 6} - #{$b-space * 2}) // 1of6 column at large breakpoint

  +respond-to($b-maxWidth)
    width: calc(#{$b-maxWidth / 6} - #{$b-space * 2}) // 1of6 column at cell width
