// *************************************
//
//   Hero
//   -> Principle row
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .hero
//
//   .hero-img--clouds
//   .hero-img
//     .hero-img-fan
//
// *************************************

.hero
  min-height: $hero-minHeight
  position: relative

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Image ----- //

.hero-img
  bottom: 0
  display: none
  left: -8.5em // FIXME: Magic number!
  position: absolute

  +respond-to($g-l)
    display: block

// Image: Clouds

.hero-img--clouds
  left: $b-space-l
  top: $b-space-xl

// Image: Fan

.hero-img-fan
  animation: rotate 7s linear infinite
  transform-origin: center
