// *************************************
//
//   Hero
//   -> Principle row
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .hero
//
// *************************************

.hero
  min-height: $hero-minHeight

// -------------------------------------
//   Modifiers
// -------------------------------------

// .hero--modifier

// -------------------------------------
//   States
// -------------------------------------

// .hero.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-hero

// -------------------------------------
//   Scaffolding
// -------------------------------------

.hero-challenge

  h3
    display: none

  p
    font-family: $b-fontFamily-heading
