// *************************************
//
//   Media Link
//   -> Actionable media
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %a.mediaLink
//   / ..
//
// *************************************

.mediaLink
  display: block
  transition: $b-transition

  +state
    opacity: 0.6
