- headPartial = headPartial || {}
- headPartial.userScalable = headPartial.fixedViewport || true

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='description' content='')

  if headPartial.fixedViewport
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  else
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  title JavaScript.com

  link(rel='shortcut icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/stylesheets/application.css')
