doctype html
html.courseLayout.js-courseLayout(lang='en')

  block layout_variables
  include /views/layouts/_head

  body
    .dn
      include /public/images/icons/icons.svg

    header.header.courseLayout-header(role='banner')
      .row
        .cell.well.well--s.well--m--m

          .split.split--middle
            .split-item
              .split-cell
                a.dib(href='/')
                  img.dn--m(src='/images/logo-mark.svg' alt='JavaScript.com')
                  img.dn.db--m(src='/images/logo.svg' alt='JavaScript.com')
              nav.split-cell(role='navigation')
                a.underline.header-link(href='/news') News
                a.underline.header-link(href='/resources') Resources

      button.courseLayout-header-toggle.js-courseLayout-toggle Toggle Navigation

    main(role='main')
      block content

    script(src='/javascripts/vendor.js')
    script(src='/javascripts/vendor-course.js')
    script(src='/javascripts/course.js')
    script(src='/javascripts/application.js')
