doctype html
html(lang='en')

  include /views/layouts/_head

  body
    .dn
      include /public/images/icons/icons.svg

    include /views/partials/_header

    main.content
      block content

    include /views/partials/_footer

    script(src='/javascripts/application.js')
