doctype html
html(lang='en')

  include /views/layouts/_head

  body
    .dn
      include /public/images/icons/icons.svg

    - headerPartial = { isBleed: 'true' }
    include /views/partials/_header

    main.content
      block content

    script(src='/javascripts/application.js')
