<div class='course js-course'>

  <div class='row'>
    <div class='cell'>

      <nav class='course-toc'>
        <div class='well well--m--xl course-toc-inner'>
          <ol class='list list--s list--divided list--divided--s checklist tfh js-course--toc'>
            <li ng-repeat='challenge in ctrl.challenges' ng-class="{ 'is-active': challenge.active, 'is-completed': challenge.completed }" class='list-item checklist-item'>
              <a href='#' ng-if='challenge.started' ng-click='ctrl.activateChallenge(challenge)' class='checklist-item-link'>{{ ::challenge.title }}</a>
              <span ng-if='!challenge.started'>{{ ::challenge.title }}</span>
            </li>
          </ol>
        </div>
      </nav>

    </div>
  </div>

  <div ng-if='ctrl.challenges.length'>
    <js-challenge ng-repeat='challenge in ::ctrl.challenges' challenge='challenge' ng-if='challenge.started' class='animate--fade'>
    </js-challenge>
  </div>

</div>
