block current_nav
  - current_page = 'Start Learning'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--l.well--m--xl

      h1.mbm Free Resources

      ul.list.list--l.list--divided.list--divided--l

        - index = 6; while(index--)
          li.list-item
            article.bucket.bucket--flag.bucket--l
              .bucket-media
                img.thumb.thumb--m(src='http://placehold.it/220x120')
              .bucket-content
                h2.h.h--3
                  a.tct.twb(href='#') Resource Title
                p.mbf.
                  lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  vivamus vitae risus vitae lorem iaculis placerat. aliquam sit
                  amet felis. etiam congue. donec risus risus, pretium...

