block layout_variables
  - pageTitle = 'JavaScript Tutorial'
  - metaDescription = 'Start learning JavaScript right in your browser and then check out free resources to continue learning.'

extends /views/layouts/layout-course

block content
  div(ng-app='javascriptcom')
    js-course(course='intro')
