extends /views/layouts/layout-bleed

block content

  .row.hero.bc-regent
    include /views/partials/_hero_img

    .cell.well.well--s--l

      .mbm.mbxl--m.tac
        h2.h.h--1.h--light Not sure what JavaScript is?

        p Watch to learn more.

        a.btn.btn--sticker.js-video-trigger(href='#')
          - iconPartial = { name: 'play', size: 24 }
          include /views/partials/_icon

        .video
          video.video-element.js-video-element(controls preload='none')
            source(src='http://www.viddler.com/file/d/1646e040.mp4' type='video/mp4')
            source(src='http://www.viddler.com/file/d/1646e040.webm' type='video/webm')

      .g
        .g-b.g-b--l--1of2.fr

          include /views/partials/_hero_console

  .row
    .cell.cell--s.well.well--l.well--m--xl
      .g
        .g-b.g-b--m--2of5.mbm.mbl--s.mbf--m

          img.db.mhc(src='/images/img-newsletter.svg' alt='')

        .g-b.g-b--m--3of5
          h4.h.h--2.h--light.mtm--m Want the latest JavaScript news?

          p.tfh.tss
            | Head over to our 
            a(href='/news') news feed
            |  or subscribe below to receive email updates.

          include /views/partials/_newsletter_form
