extends layout

block content
  div.row
    div.g
      div.g-b.g-b--1of2
        h1 VIDEO
      div.g-b.g-b--1of2
          iframe(width='100%' height='300px' src="http://campus.codeschool.com/courses/try-javascript")
  hr
  div.row
    div.g
      div.g-b.g-b--1of1
        div.card
          h3 Subscribe to newsletter
            form(action='/subscribe', method='post', class='form-inline')
              div(class='input-append')
                input(type='email', name='email', placeholder='email address')
                input(type='submit', class='btn', value='Add Member')
  hr
  div.row
    div.g
      div.g-b.g-b--3of4
        each item in news
          h2= item.title
          p!= item.body
          hr


