extends layout

block content
  h1 JavaScript.com

  each item in news
    hr
    p= item.title
    p!= item.body

  h3 Subscribe to newsletter
    form(action='/subscribe', method='post', class='form-inline')
      div(class='input-append')
        input(type='email', name='email', placeholder='email address')
        input(type='submit', class='btn', value='Add Member')
