extends /views/layouts/layout-bleed

block content

  .layout-primary
    .row.bc-regent
      .cell.well.well--xl
        .g
          .g-b.g-b--1of2

            p Video goes here.

          .g-b.g-b--1of2

            p.h.h--1 Ready to learn JavaScript?

            div(ng-app='javascriptcom')
              js-course(course='intro' class='course--mini')

  .layout-secondary
    .row.bc-bostonBlue.tci
      .cell.well
        .g
          .g-b.g-b--m--1of2

            p.mtm.pts.tfh
              strong Want the latest JavaScript news delivered right to your inbox?

          .g-b.g-b--m--1of2

            form.form.mtm(action='/subscribe' method='post')
              fieldset.form-field.form-field--inline
                .g
                  .g-b.g-b--m--3of5
                    input.form-input.form-input--dark.form-input--inline.mbs.mbf--m(type='email' name='email' placeholder='Email Address')
                  .g-b.g-b--m--2of5
                    input.btn.btn--b.form-btn(type='submit' value='Sign Up')

    .row
      .cell.cell--s.well.well--xl
        each item in news
          h2.h.h--2= item.title
          p!= item.body
