extends /views/layouts/layout-bleed

block content

  .row.hero.bc-regent
    .cell.well.well--l
      .mbxl.tac
        h2.h.h--1.h--l Not sure what JavaScript is?
        p.tfh Watch to learn more.

        a.btn.btn--sticker.js-video-trigger(href='#')
          - iconPartial = { name: 'play', size: 24 }
          include /views/partials/_icon

        .video
          video.video-element.js-video-element(controls preload="none")
            source(src='/videos/sky.mp4' type='video/mp4')

      .g
        .g-b.g-b--l--1of2.fr

          include /views/partials/_homepage_challenge

    include /views/partials/_hero_img

  .row
    .cell.cell--s.well.well--xl
      .bucket.bucket--flag.bucket--l
        .bucket-media.dn.db--m
          img(src='/images/img-newsletter.svg' alt='')
        .bucket-content
          h4.h.h--2.h--l.mts Want the latest JavaScript news?
          p.tfh.tss
            | Head over to our 
            a(href='/news') news feed
            |  or subscribe below to receive email updates.

          include /views/partials/_newsletter_form
