doctype html
html
  head
    title JavaScript.com
    link(rel='stylesheet', href='/stylesheets/application.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/application.js')
  body
    header.header
      div.row
        div.g
          div.g-b.g-b--1of2
            h1
              a(href="/") JavaScript.com
          div.links.g-b.g-b--1of2
            a(href="/news") News
            a(href="/flow") Community
      hr

    main.content
      block content
