doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/fastclick.js')
    script(src='/javascripts/foundation.min.js')
  body
    block content