doctype html
html
  head
    title JavaScript.com
    link(rel='stylesheet', href='/stylesheets/application.min.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/application.js')
  body

    header.row.header
      div.cell.well
        div.g
          div.g-b.g-b--m--1of2
            h1.header-logo.mbf
              a.header-logo-item(href="/")
                img.header-logo-item(src="images/logo.svg" alt="Code School")
          div.g-b.g-b--m--1of2
            nav.header-nav
              a.header-nav-item(href="/news") News
              a.header-nav-item(href="/flow") Community
              a.btn.btn--a.header-nav-item.header-nav-item--btn(href="#") Learn JavaScript

    main.content
      block content
