block layout_variables
  - dispatcher    = 'home'
  - headerPartial = { bleed: true }

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  .row.hero
    .cell.well.well--s--l
      .g.g--centered.ptl
        .g-b.g-b--s--10of12.g-b--m--8of12.g-b--l--1of2

          include /views/partials/_hero_console

  .row
    .cell.well.well--l.well--m--xl
      .g.g--centered.fx-aic
        .g-b.g-b--m--4of12.g-b--l--3of12.mbm.mbf--m

          img.db.mhc(src='/images/img-newsletter.svg' alt='' width='244')

        .g-b.g-b--m--8of12.g-b--l--5of12

          h4.h.h--2.h--light Want the latest JavaScript news?

          p.tfh.
            Head over to our #[a(href='/news') news feed] or subscribe below to
            receive the latest updates from the 5&nbsp;Minutes of JavaScript
            newsletter and&nbsp;podcast.

          include /views/partials/_newsletter_form
