block layout_variables
  - dispatcher    = 'home'
  - headerPartial = { bleed: true }

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  .row.hero
    .cell.well.well--s--l
      .g.g--centered.mbm.ptl
        .g-b.g-b--s--10of12.g-b--m--8of12.g-b--l--6of12
            include /views/partials/_hero_console

      .g.g--centered
        .g-b.g-b--s--10of12.g-b--m--8of12.g-b--l--6of12.tac
          .dib
            .flexBucket.flexBucket--flag.flexBucket--s
              .flexBucket-media
                a.mediaLink(href=links.campus.roadtrip)
                  img(src='/images/badge-javascript-road-trip.png' width=60 alt='JavaScript Road Trip Part 1')

              .flexBucket-content
                .card.pbs.pts
                  p.mbf.tss.
                    Already know the basics? Skip ahead with
                    #[a(href=links.campus.roadtrip) JavaScript&nbsp;Road&nbsp;Trip.]

  .row
    .cell.well.well--l.well--m--xl
      .g.g--centered.fx-aic
        .g-b.g-b--m--4of12.g-b--l--3of12.mbm.mbf--m

          img.db.mhc(src='/images/img-newsletter.svg' alt='' width='244')

        .g-b.g-b--m--8of12.g-b--l--5of12

          h4.h.h--2.h--light Want the latest JavaScript news?

          p.
            Head over to our #[a(href='/news') news feed] or subscribe below to
            receive the latest updates from the 5&nbsp;Minutes of JavaScript
            newsletter and&nbsp;podcast.

          include /views/partials/_newsletter_form
