<div class='course js-course'>
  <section class='row'>
    <div class='cell well well--s--l'>
      <div class='g'>
        <div class='g-b g-b--m--3of4'>

          <nav>
            <ol class='completionList mbm'>
              <li ng-repeat='challenge in ctrl.challenges' ng-class="{ 'is-active': challenge.active, 'is-completed': challenge.completed }" class='completionList-item'>
                <!--
                <a ng-href='#{{challenge.id}}' ng-if='challenge.started' ng-click='ctrl.activateChallenge(challenge)' class='completionList-item-link'>{{ ::challenge.title }}</a>
                <span ng-if='!challenge.started'>{{ ::challenge.title }}</span>
                -->
                <svg class='icon completionList-item-icon' width='10' height='8'>
                  <use xlink:href='#icon-check'/>
                </svg>
              </li>

              <li ng-class="{ 'is-active': ctrl.onWrapupPage(), 'is-completed': ctrl.challengeProgress.courseCompleted }" class='completionList-item'>
                <!--
                <a ng-href='#wrapup' ng-if='ctrl.challengeProgress.courseCompleted' ng-click='ctrl.activateChallenge(null)' class='completionList-item-link'>Wrap Up</a>
                <span>Wrap Up</span>
                -->
              </li>
            </ol>
          </nav>

          <div ng-if='ctrl.challenges.length'>
            <js-challenge ng-repeat='challenge in ::ctrl.challenges' challenge='challenge' ng-if='challenge.active' class='animate--fade'></js-challenge>

            <div ng-if='ctrl.onWrapupPage()' class='animate--fade'>
              <div class='row'>
                <div class='cell cell--s well well--l well--m--xl'>
                  <div class="g">
                    <div class="g-b g-b--m--2of5 mbl">
                      <img class='thumb mhc' src='http://placehold.it/220x220' />
                    </div>

                    <div class='g-b g-b--m--3of5'>
                      <h1 class='h h--1'>Congratulations!</h1>

                      <p>You completed Try JavaScript and you earned this shiny new badge! Wow, you must be someone super important and awesome. You’re well on your way to becoming a JavaScript master.</p>
                      <p class="mbl">Sign in or create an account to claim your badge at Code School where you can continue your learning!</p>

                      <a href='https://www.codeschool.com' class='btn db dib--s mbs mrs mrs--s'>Claim Your Badge</a>
                      <a href='/resources' class='btn db dib--s btn--a--bordered'>Nope, I’m Good</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='g-b g-b--m--1of4 dn db--m'>
          <img src='http://placehold.it/220x260'>
        </div>

      </div>
    </div>
  </section>

  <div class='row bc-snow'>
    <div class='cell well well--s--l'>
      <js-messages></js-messages>
      <js-console></js-console>
    </div>
  </div>
</div>
