body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.article {
  width: 60%;
  padding: 20px;
  margin-bottom: 2px;
  background-color: #CCCCCC
}
