body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.links {
  text-align: right;

  a {
    font-size: 3em;
  }
}

a {
  color: #00B7FF;
  text-decoration: none;
  border-bottom: none;
}

.article {
  width: 60%;
  padding: 20px;
  margin-bottom: 2px;
  background-color: #CCCCCC
}
