// *************************************
//
//   JavaScript.com - MVCSS v4.0.10
//   -> Manifest
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/bucket'
@import 'components/button'
@import 'components/cell'
@import 'components/form'
@import 'components/grid'
@import 'components/list'
@import 'components/row'
@import 'components/thumb'
@import 'components/sector'
@import 'components/split'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/console'
@import 'structures/footer'
@import 'structures/header'
@import 'structures/heading'
@import 'structures/hero'
@import 'structures/icon'
@import 'structures/label'
@import 'structures/link'
@import 'structures/video'

// -------------------------------------
//   Vendor
// -------------------------------------

@import 'vendor/codemirror'
@import 'vendor/codemirror-theme'

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import 'foundation/tools'

// -------------------------------------
//   Inbox
// -------------------------------------

// The active challenge will be in focus
// Challenges they've started will show up on the page rather than being hidden
.js-challenge
  opacity: 0.4
  &.is-active
    opacity: 1

// We use <code> blocks to indicate weight in the console
.console-msg
  p
    line-height: 25px
  code
    background-color: #fff
    color: #333
    border-radius: 4px
    padding: 4px

// Hide the table of contents and the course title on the homepage
// Only show the active challenge on the homepage
.home
  .js-course
    .js-course--toc
      display: none
    .js-course--challenges
      height: auto
      h2
        display: none
      .js-challenge
        &.is-started
          display: none !important
        &.is-active
          display: block !important


// On the /learn page, position the table of contents on the left
// and the challenges on the right side of the page.
.js-course--toc
  width: 35%
  float: left
  ul
    li
      &.is-active
        color: red
        font-weight: bold
      &.is-completed
        color: green
.js-course--challenges
  height: 600px
  overflow: scroll

// Animations are handled using Angulars ng-animate which adds and
// removes classes during various phases. If this doesn't work we can
// do something different, but ng-animate is pretty crazy flexible in the timing
// in code of where these happen if we need to tweak things.
.animate--fade.ng-enter,
.animate--fade.ng-leave
  -webkit-transition: 1s linear all
  transition: 1s linear all
.animate--fade.ng-enter,
.animate--fade.ng-leave.ng-leave-active
  opacity: 0
.animate--fade.ng-leave,
.animate--fade.ng-enter.ng-enter-active
  opacity: 1
