// *************************************
//
//   Learn
//   -> Manifest
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/helpers';
@import 'foundation/config';

// -------------------------------------
//   Vendor
// -------------------------------------

@import 'vendor/codemirror-klipse';

// -------------------------------------
//   Inbox
// -------------------------------------

.CodeMirror, .klipse {
  border: 1px solid $c-border;
  font-family: $b-fontFamily-mono;
  padding: 15px 20px;
}

.CodeMirror-lines {
  padding: 0;
}

.CodeMirror pre {
  padding: 0;
}
