// *************************************
//
//   Button
//   -> Clickable control
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .btn[a|b]
//
// *************************************

.btn
  border-radius: $b-borderRadius
  border: 0
  cursor: pointer
  display: inline-block
  font-family: $b-fontFamily-heading
  font-size: $b-fontSize
  line-height: 3
  padding: 0 $b-space-l
  text-align: center
  text-decoration: none
  transition: $b-transition

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hierarchy ----- //

// Primary

.btn--a
  background: $btn--a-background
  color: $btn--a-color

  +state
    background: shade($btn--a-background, 10%)
    color: $btn--a-color

// Secondary

.btn--b
  background: $btn--b-background
  color: $btn--b-color

  +state
    background: shade($btn--b-background, 5%)
    color: $btn--b-color
