.bucket
  .bucket-media

    img.thumb(src=story.avatar_url width='50')

  .bucket-content

    h2.h.h--4
      a.externalLink.tct.twb(href=story.url target='_blank')
        = story.title
        +icon('external', 16).externalLink-icon

    p.mbf.tcs.tfh.tss
      | via 
      span.twsb= story.name
      |  | 
      a(href='/news/' + story.slug + '#comments')
        | View Discussion 
        if story.comment_count > 0
          | (
          = story.comment_count
          | )
