block current_nav
  - current_page = 'News'

block layout_variables
  - pageTitle = 'JavaScript News'
  - metaDescription = 'Stay up to date with the latest JavaScript news posted by the JS community.'
  - dispatcher = 'news'

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  section.row.has-sector
    .cell
      .g
        .g-b.g-b--m--2of3.sector.sector--a
          .well.well--l.well--m--xl.mbl

            h1.h.h--2
              | News From the 
              span.dib.wsnw Community
                a.mls.tch(href="/feed/rss")
                  +icon('rss', 20)

            .flexSplit.flexSplit--responsive.flexSplit--responsive--m
              .flexSplit-item.mrm--m

                p.mbf--m.ptxs--l.tcs.tss.
                  A curated list of news and stories submitted from the
                  JavaScript.com&nbsp;community.

              .flexSplit-item

                a.btn.btn--a.db.dib--s(href='/news/new')
                  +icon('add', 12).mrxs(style='position: relative; top: -1px;')
                  | Submit Story

          .mbxl.js-loadFeed
            ul.list.list--divided.js-loadFeed-list

              - for story in flow_collection
                li.list-item
                  include _story

          if more
            .well.well--l.mbl.mbxl--m.bdrtl.ptl.tac
              button.btn.js-loadFeed-btn Load More

        aside.g-b.g-b--m--1of3.sector.sector--b
          .well.well--l.well--m--xl
            .sector-content
              .card.mbl.tac
                a.mediaLink.mbm(href=links.courses.es2015)
                  img(src='/images/badge-es2015.png' width=140 height=140)

                h2.h.h--4 ES2015: The Shape of JavaScript&nbsp;to&nbsp;Come

                p.tcs.tss.
                  Stay in tune and learn some of the new features of ES2015, the
                  most extensive update to the JavaScript language since it was
                  first released in the ‘90s.

                a.btn.btn--a--bordered(href=links.courses.es2015).
                  View Course

              div
                h2.h.h--4 News From FiveJS

                p.tcs.tss.
                  5 Minutes of JavaScript (FiveJS) is a weekly newsletter and
                  podcast curating the latest news in the JavaScript community.

                a.btn.btn--a--bordered.db.dib--s.mbs.mrs--s(href=links.fivejs.itunes) Listen Now
                a.btn.btn--a--bordered.db.dib--s(href=links.fivejs.site) Visit Site
