block current_nav
  - current_page = 'News'

block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'
  - dispatcher = 'news'

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  section.row.has-sector
    .cell
      .g
        .g-b.g-b--m--2of3.sector.sector--a
          .well.well--l.well--m--xl.mbl

            h1.h.h--2
              | News From the 
              span.dib.wsnw Community
                a.mls.tch(href="/feed/rss")
                  +icon('rss', 20)

            .g
              .g-b.g-b--l--3of4

                p.mbf--l.ptxs--l.tcs.tss
                  | A curated list of news and stories submitted from the
                  | JavaScript.com community. To learn more about how you
                  | can contribute, visit our 
                  a(href='/guidelines') Community&nbsp;Guidelines
                  | .

              .g-b.g-b--l--1of4

                a.btn.btn--a.db.dib--s.fr--l(href='/news/new') New Post

          .mbxl.js-loadFeed
            ul.list.list--divided.js-loadFeed-list

              - for story in flow_collection
                li.list-item
                  include _story

          if more
            .well.well--l.mbl.mbxl--m.bdrtl.ptl.tac
              button.btn.js-loadFeed-btn Load More

        .g-b.g-b--m--1of3.sector.sector--b
          .well.well--l.well--m--xl
            .sector-content

              .mbl
                img.db.mbl.mhc(src='/images/img-news.svg' alt='' width='250')

                h2.h.h--3 News From FiveJS

                p.tcs.tss 5 Minutes of JavaScript (FiveJS) is a weekly newsletter and podcast curating the latest news in the JavaScript community.

                a.btn.btn--a--bordered.db.dib--s.mbs.mrs--s(href='https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328') Listen Now
                a.btn.btn--a--bordered.db.dib--s(href='https://fivejs.codeschool.com/') Visit Site
