block layout_variables
  - pageTitle = 'Submit New Post'
  - metaDescription = 'Submit a new post to JavaScript.com'
  - dispatcher = 'news:new'

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  section.row
    .cell.cell--m.well.well--l.well--m--xl

      .g
        .g-b.g-b--m--3of5

          .split.split--middle.mbl
            .split-item
              .split-cell
                h1.h.h--2.mbf New Story

              .split-cell
                .bucket.bucket--flag
                  .bucket-media.tac
                    img.thumb(src=avatar width=50)
                  .bucket-content
                    a.tfh(href='/news/signout') Not you?

          include /views/partials/_news_form

        .g-b.g-b--m--2of5

          .mtxl
            h2.h.h--3.mbs Guidelines

            ul.list.list--styled.tss
              li.list-item
                strong Please use 
                | 100-300 characters to describe why a JavaScript
                | developer should care.
              li.list-item
                strong Please do not 
                | submit advertisements about commercial products or job postings.
              li.list-item
                a(href='/guidelines') View all community guidelines &rarr;
