block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'
  - dispatcher = 'news:pending'

extends /views/layouts/layout

block content

  section.row
    .cell.well.well--xl

      .g.g--centered
        .g-b.g-b--s--10of12.g-b--m--8of12.g-b--l--6of12

          h1 Thanks for submitting your&nbsp;story!

          p.mbl.
            We need to review it for spelling and grammar before it’s
            published, but we’ll update you on its status&nbsp;soon.

          a.btn(href='/news') View More News
