block layout_variables
  - pageTitle = 'News'
  - dispatcher = 'news:authenticate'

extends /views/layouts/layout

block content

  section.row
    .cell.well.well--xl

      img.db.mbl.mhc(src='/images/img-authentication.svg' alt='' width=221)

      .tac
        h1.h.h--1 Authenticate
        p To create a post, sign in with GitHub by clicking the button&nbsp;below.

        a.btn.btn--a(href='/news/auth/github') Sign In with GitHub
