doctype html
html.has-site(lang='en')

  block layout_variables
  include /views/mixins/all

  include /views/layouts/_head

  - dispatcher = dispatcher ? dispatcher : ''
  body.site.js-dispatcher(data-dispatcher-page=dispatcher)

    include /views/partials/_header

    main.site-item.site-item--grow(role='main')
      block content

    include /views/partials/_footer
    include /views/partials/_footer_scripts

    block inline_javascript
