- current_page = 'Learn'
- dispatcher = 'learn'
- headPartial = { onLearn: true }

doctype html
html.has-site(lang='en')

  block layout_variables
  include /views/_globals/links
  include /views/_mixins/all

  include /views/layouts/_head

  - dispatcher = dispatcher ? dispatcher : ''
  body.site.js-dispatcher(data-dispatcher-page=dispatcher)

    include /views/partials/_header

    main.site-item.site-item--grow(role='main')
      section.row
        .cell.well.well--l
          .blockGrid
            .blockGrid-box.blockGrid-box--m--4of12.blockGrid-box--l--3of12
              +sectionList([
                { title: 'Functions', url: '/learn/javascript/functions' },
                { title: 'String Functions', url: '/learn/javascript/string-functions' },
                { title: 'Variables', url: '/learn/javascript/variables' },
                { title: 'Numbers', url: '/learn/javascript/numbers' },
                { title: 'Combining Numbers', url: '/learn/javascript/combining-numbers' },
                { title: 'Combining Strings', url: '/learn/javascript/combining-strings' },
                { title: 'Events', url: '/learn/javascript/events' },
                { title: 'Objects', url: '/learn/javascript/objects' },
                { title: 'Dates', url: '/learn/javascript/dates' }
              ], sectionTitle)

            .blockGrid-box.blockGrid-box--m--8of12.blockGrid-box--l--6of12
              h1.h.h--1.mbs= sectionTitle

              block content

    include /views/partials/_footer

    script(src='/javascripts/vendor.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/klipse.min.js')

    block inline_javascript
