// *************************************
//
//   Highlight
//   -> Highly stylized link
//      Credit: http://www.webdesignerdepot.com/
//      CodePen: http://codepen.io/drewbarontini/pen/vOYgwE
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %a.highlight
//
// *************************************

.highlight
  background-image: linear-gradient(to right, rgba(white, 0) 50%, $highlight-background 50%)
  background-position: 0 0
  background-size: 200% auto
  border-bottom: $highlight-border
  color: $highlight-color
  text-decoration: $highlight-textDecoration
  transition: background-position $b-transition

  &:active,
  &:focus,
  &:hover
    background-position: -100% 0
    color: $highlight-color

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Bordered ----- //

.highlight--bordered
  position: relative

  &::after,
  &::before
    content: ''
    height: $highlight--bordered-borderWidth
    left: 0
    position: absolute
    top: 100%
    width: 100%

  &::after
    background: $highlight--bordered-borderColor

  &::before
    background: $highlight--bordered-cover-background
    transform: translateX(0)
    transition: transform $b-transition
    z-index: 1

  &:active,
  &:focus,
  &:hover
    background: none

    &::before
      transform: translateX(100%)

// Bordered: Modifiers: Alt

.highlight--bordered--alt

  &::before
    background: $highlight--bordered--alt-cover-background

// Bordered: Modifiers: Inverted

.highlight--bordered--inverted

  &::after
    background: $highlight-background

  &::before
    background: $highlight--bordered--inverted-cover-background

// Bordered: States: Active

.highlight--bordered.is-active

  &::before
    display: none
