block current_nav
  - current_page = 'News'

extends /views/layouts/layout

block content

  section.row.has-sector
    .cell

      .g
        .g-b.g-b--m--3of5.sector.sector--a
          .well.well--l.well--m--xl

            .bdrbl.mbl.pbl
              h1.h.h--2 News from the Community

              .g
                .g-b.g-b--l--3of4
                  p.mbf--l.ptxs--l.tcs.tss
                    | A curated list of news and stories submitted from the JS.com community. 
                    | To learn more about how you can contribute, visit our 
                    a(href="#") Contribution Guidelines
                    | .

                .g-b.g-b--l--1of4
                  a.btn.btn--a.btn--a--bordered.fr--l(href='/news/new') New Post


            ul.list.list--l.list--divided.list--divided--l

              - index = 6; while(index--)
                li.list-item
                  article.bucket
                    .bucket-media
                      img.thumb(src='http://placehold.it/40')
                    .bucket-content
                      h2.h.h--3
                        a.tct.twb(href='/news/1') This is an Article's Title in Title Case
                      p.tcs.tfh Given Surname | 3 hours ago
                      p.mbf.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        vivamus vitae risus vitae lorem iaculis placerat. aliquam sit
                        amet felis. etiam congue. donec risus risus, pretium...

        .g-b.g-b--m--2of5.sector.sector--b
          .well.well--l.well--m--xl
            .sector-content

              .bdrbl.mbl.pbl
                img.db.mbl.mhc(src="/images/img-news.svg" alt="" width="350")

                h2.h.h--3 JavaScript.com News
                p.mbf.tcs.tss News from the 5 Minutes of JavaScript podcast.
                p.mbf.tcs.tss
                  | Updated weekly. 
                  a(href="#") Subscribe here
                  | .

              ul.list.list--l.list--divided.list--divided--l

                - index = 5; while(index--)
                  li.list-item
                    article
                      h2.h.h--4
                        a.tct.twb(href='#') This is an Article's Title in Title Case
                      p.mbf.tss.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        vivamus vitae risus vitae lorem iaculis placerat. aliquam sit
                        amet felis. etiam congue. donec risus risus, pretium...
