block current_nav
  - current_page = 'News'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--l.well--m--xl

      .split.split--middle.mbl

        .split-cell
          .bucket.bucket--flag
            .bucket-media.tac
              img.thumb(src=avatar width=60)
            .bucket-content
              h1.h.h--2.mbf New Story

        .split-cell
          a.tfh(href='/news/signout') Sign Out


      form.form(action='/news' method='POST')

        fieldset.form-field
          label
            span.form-label Title
            input.form-input(type='text' name='title')

        fieldset.form-field
          label
            span.form-label Link
          input.form-input(type='text' name='url')

        fieldset.form-field
          label
            span.form-label Content
          textarea.form-input.form-textarea(name='body' rows=8)

        .mtl
          input(type='hidden' name='_csrf' value=token)
          input.btn.btn--a.form-btn(type='submit' value='Submit')
