block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'
  - dispatcher = 'news:pending'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--xl

      .tac

        h1 Thank you for submitting your story!

        p.
          We need to review it for spelling and grammar before it's published,
          but we’ll update you on its status soon.

        a.btn(href='/news') View More News
