block current_nav
  - current_page = 'News'

block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--xl

      img.db.mbl.mhc(src='/images/img-authentication.svg' alt='')

      .tac
        h1.h.h--1 Authenticate
        p To create a post, sign in with GitHub by clicking the button below.
        a.btn.btn--a(href='/news/auth/github') Sign In with GitHub
