extends /views/layouts/layout

block content

  ul.list.list--f.list--divided.list--divided--f

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h1.mbf Styleguide

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h2.mbm#typography Typography

          .mbl
            h3 Headings

            p.h1 This is a first-level heading
            p.h2 This is a second-level heading
            p.h3 This is a third-level heading
            p.h4 This is a fourth-level heading

          h3 Body

          p.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus
            vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis.
            Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor
            eu, quam. Morbi blandit mollis magna.  Suspendisse eu tortor. Donec
            vitae felis nec ligula blandit rhoncus. Ut a pede ac neque mattis
            facilisis. Nulla nunc ipsum, sodales vitae, hendrerit non.

          h4 Sizes

          p.tss This is small text
          p This is base text
          p.tsl This is large text
          p.tsxl This is extra large text
          p.tsxxl This is extra, extra large text

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h2.mbm#button Button

          .g
            .g-b.g-b--1of2

              h3 Primary

              .has-btn
                a.btn.btn--a(href='#') Button

                a.btn.btn--a.btn--a--bordered(href='#') Button

            .g-b.g-b--1of2

              h3 Secondary

              a.btn.btn--b(href='#') Button

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h2.mbm#label Label

          .g
            .g-b.g-b--1of2

              h3 Base

              p.label Label text

            .g-b.g-b--1of2

              h3 Highlight

              p.label.label--highlight Label text

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h2.mbm#list List

          h3 Base

          .mbl
            ul.list
              li.list-item.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit
                amet felis. Etiam congue. Donec risus risus, pretium ac,
              li.list-item.
                Suspendisse eu tortor. Donec vitae felis nec ligula blandit
                tincidunt eu, tempor eu, quam. Morbi blandit mollis magna.
                rhoncus. Ut a pede ac neque mattis facilisis. Nulla nunc ipsum,
              li.list-item.
                Sodales vitae, hendrerit non, imperdiet ac, ante. Morbi sit amet
                mi. Ut magna. Curabitur id est. Nulla velit. Sed consectetuer
                sodales justo. Aliquam dictum gravida libero. Sed eu turpis. Nunc

          h3 Divided

          .mbl
            ul.list.list--divided
              li.list-item.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit
                amet felis. Etiam congue. Donec risus risus, pretium ac,
              li.list-item.
                Suspendisse eu tortor. Donec vitae felis nec ligula blandit
                tincidunt eu, tempor eu, quam. Morbi blandit mollis magna.
                rhoncus. Ut a pede ac neque mattis facilisis. Nulla nunc ipsum,
              li.list-item.
                Sodales vitae, hendrerit non, imperdiet ac, ante. Morbi sit amet
                mi. Ut magna. Curabitur id est. Nulla velit. Sed consectetuer
                sodales justo. Aliquam dictum gravida libero. Sed eu turpis. Nunc

          h3 Inline

          ul.list.list--inline.mbm
            li.list-item Lorem ipsum
            li.list-item Suspendisse
            li.list-item Sodales vitae

          h4 Divided

          ul.list.list--inline.list--inline--divided
            li.list-item Lorem ipsum
            li.list-item Suspendisse
            li.list-item Sodales vitae

    li.list-item
      .row
        .cell.cell--s.well.well--l

          h2.mbm#sector Sector

          .g.has-sector
            .g-b.g-b--1of3.sector.sector--white
              .well.well--xl

                p Sector

            .g-b.g-b--2of3.sector.sector--snow
              .well.well--xl

                p Sector
