-
  links = {
    codeschool: 'https://www.codeschool.com/?ref=jscom',
    courses: {
      es2015: 'https://www.codeschool.com/courses/es2015-the-shape-of-javascript-to-come',
      roadtrip: 'https://www.codeschool.com/courses/javascript-road-trip-part-1'
    },
    fivejs: {
      site: 'https://fivejs.codeschool.com/',
      itunes: 'https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328'
    },
    twitter: 'https://twitter.com/javascriptcom'
  }
