-
  links = {
    codeschool: 'https://www.codeschool.com/?ref=jscom',
    courses: {
      es2015: 'https://www.codeschool.com/courses/es2015-the-shape-of-javascript-to-come?utm_source=javascript&utm_medium=referral&utm_campaign=es2015_banner',
      roadtrip: 'https://www.codeschool.com/courses/javascript-road-trip-part-1?utm_source=javascript&utm_medium=referral&utm_campaign=js_com'
    },
    fivejs: {
      site: 'https://fivejs.codeschool.com/',
      itunes: 'https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328'
    },
    twitter: 'https://twitter.com/javascriptcom'
  }
