-
  links = {
    codeschool: 'https://www.codeschool.com/?ref=jscom',
    campus: {
      roadtrip: 'http://javascript-roadtrip.codeschool.com/',
    },
    courses: {
      es2015: 'https://www.codeschool.com/courses/es2015-the-shape-of-javascript-to-come'
    },
    fivejs: {
      site: 'https://fivejs.codeschool.com/',
      itunes: 'https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328'
    },
    twitter: 'https://twitter.com/javascriptcom'
  }
