block layout_variables
  - pageTitle = 'JavaScript Functions'
  - chapterTitle = 'Functions'

extends /views/layouts/learn

block content
  p.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae
    risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam
    congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam.
    Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis
    nec ligula blandit rhoncus.

  p.mbl
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae
    risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam
    congue.

  +editor.mbl.
    function greetThePlanet() {
        return 'Hello world!';
    }

    greetThePlanet();

  +example.
    var when = "whenever";
