block layout_variables
  - dispatcher = 'learn'
  - pageTitle = 'Learn JavaScript'
  - metaDescription = 'Interactive reference pages for learning JavaScript features.'

extends /views/layouts/layout

block content
  h1 String Functions
