block current_nav
  - current_page = 'Brand'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--l.well--m--xl

      .bdrbl.mbl.pbm
        h1 Brand Assets
        p Below you'll find some of the assets we've created for the JavaScript.com brand.

      .mbxl
        h2.mbm Logos

        .card.card--l.bdrs.mbm.ras
          img.db.mhc(src='/images/brand/logo.svg' alt='JavaScript.com' width='575')

        .g.g--s
          .g-b.g-b--3of4
            .card.card--l.bc-gold.ras
              img.db.mhc(src='/images/brand/logo-light.svg' alt='JavaScript.com' width='375')
          .g-b.g-b--1of4
            .card.card--l.bc-slate.ras
              img.db.mhc(src='/images/brand/logo-mark.svg' alt='JavaScript.com')

      h2.mbm Primary Colors

      .g.g--xs.mbxl
        .g-b.g-b--1of4
          .card.bc-gold.ras
            p.mtl Yellow
            p.mbxs RGB 242, 213, 10
            p #f2d50a
        .g-b.g-b--1of4
          .card.bc-slate.ras.tci
            p.mtl Dark Gray
            p.mbxs RGB 54, 66, 61
            p #313d38
        .g-b.g-b--1of4
          .card.bc-metal.ras.tci
            p.mtl Gray
            p.mbxs RGB 109, 125, 121
            p #6d7d79
        .g-b.g-b--1of4
          .card.bc-sienna.ras.tci
            p.mtl Red
            p.mbxs RGB 229, 92, 83
            p #e55c53

      h2.mbm Secondary Colors

      .g.g--xs
        .g-b.g-b--1of4
          .card.bc-cream.ras
            p.mbxs Off-White
            p.mbf RGB 248, 244, 227
            p.mbf #f8f4e3
        .g-b.g-b--1of4
          .card.bc-aqua.ras
            p.mbxs Blue
            p.mbf RGB 156, 212, 222
            p.mbf #9cd4de
        .g-b.g-b--1of4
          .card.bc-cucumber.ras.tci
            p.mbxs Green
            p.mbf RGB 126, 171, 103
            p.mbf #7eab67
        .g-b.g-b--1of4
          .card.bc-bostonBlue.ras.tci
            p.mbxs Navy Blue
            p.mbf RGB 48, 154, 177
            p.mbf #309ab1
